/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 1029px;
    max-width: none;
    background-image:url("img/backgroundEntrada.jpg");
    background-position: 0% 0%;
    background-repeat: repeat-y;
    background-attachment: inherit;
    background-size: auto;
    float: none;
    clear: none;
    min-width: 864px;
}

#contenedor {
    float: none;
    height: 658px;
    margin-left: auto;
    margin-top: 102px;
    clear: none;
    width: 329px;
    margin-right: auto;
    background-color: rgba(0, 78, 255, 0);
}

#avion {
    float: none;
    height: 213px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 329px;
    background-image:url("img/plane.jpg");
    background-position: 0% 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto;
    margin-right: auto;
}

#text1Box {
    float: left;
    height: 57px;
    margin-left: 0.37044073%;
    margin-top: 2px;
    clear: none;
    width: 100%;
    min-width: 0px;
}

#text {
    float: none;
    font-size: 3em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    margin-left: auto;
    margin-top: 4px;
    clear: none;
    min-height: 0px;
    font-family: helvetica;
    color: rgb(255, 252, 252);
    margin-right: auto;
}

#text2 {
    float: left;
    height: 50px;
    margin-left: 0.37044073%;
    margin-top: 6px;
    clear: both;
    width: 100%;
}

#text1 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    font-family: helvetica;
    margin-right: auto;
}

#textspan {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(255, 252, 252);
    font-family: helvetica;
    font-weight: 600;
}

#Text3 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    margin-left: auto;
    margin-top: 173px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 252, 252);
    font-family: helvetica;
    margin-right: auto;
}

#face {
    float: none;
    height: 36px;
    margin-left: auto;
    margin-top: 13px;
    clear: none;
    width: 39px;
    background-image:url("img/face.jpg");
    background-position: 0% 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto;
    margin-right: auto;
}

#tw {
    float: none;
    height: 36px;
    margin-left: auto;
    margin-top: 24px;
    clear: none;
    width: 39px;
    background-image:url("img/twitter.jpg");
    background-position: 0% 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto;
    margin-right: auto;
}

#go {
    float: none;
    height: 120px;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    width: 107px;
    background-image:url("img/go.jpg");
    background-position: 0% 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto;
    margin-right: auto;
}

#footerbox {
    float: none;
    height: 101px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 32.092748%;
    margin-right: auto;
}

#redes {
    float: left;
    height: 116px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
}

#goboxBox {
    float: left;
    height: 140px;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    width: 100%;
}

@media only screen and (max-width: 960px) {
    #contenedor {
        float: none;
        height: 658px;
        clear: none;
        width: 331.0625px;
        background-color: rgba(0, 78, 255, 0);
        position: static;
        top: 0px;
        left: 0px;
        display: block;
        margin-top: 102px;
        margin-left: auto;
        margin-right: auto;
    }

    #text {
        font-size: 3em;
        margin-top: 5px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
    }

    #footerbox {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
        width: 32.091471%;
        height: 101px;
        margin-top: 0px;
    }

    .primaryContainer {
        width: 100%;
        background-image:url("img/backgroundEntrada.jpg");
        background-position: 0% 0%;
        background-repeat: repeat-y;
        background-attachment: inherit;
        background-size: auto;
    }

    #avion {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
        width: 329px;
        height: 213px;
    }

    #text1Box {
        margin-top: 2px;
        margin-left: auto;
        clear: none;
        width: 100%;
        height: 57px;
        margin-right: auto;
        float: none;
    }

    #text2 {
        margin-top: 6px;
        margin-left: auto;
        clear: none;
        width: 100%;
        height: 50px;
        margin-right: auto;
        float: none;
    }

    #Text3 {
        margin-top: 58px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
        text-align: center;
    }

    #face {
        margin-top: 9px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
        width: 39px;
        height: 36px;
    }

    #go {
        margin-top: 8px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
    }

    #text1 {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
    }

    #tw {
        margin-left: 44.109874%;
        margin-right: 0px;
        float: left;
        margin-top: 17px;
        clear: none;
        width: 39px;
        height: 36px;
    }

    #redes {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
    }

    #goboxBox {
        margin-top: 0px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
    }
}

@media only screen and (max-width: 720px) {
    #contenedor {
        background-color: rgba(0, 78, 255, 0);
        margin-top: 102px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
    }

    #footerbox {
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-top: 0px;
        clear: none;
    }

    #avion {
        margin-top: 0px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
    }

    #text1Box {
        margin-top: 0px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
    }

    #text2 {
        margin-top: 58px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
    }

    #Text3 {
        margin-top: 38px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
        text-align: center;
    }

    #face {
        margin-top: 9px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
    }

    #go {
        margin-top: 12px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
    }

    .primaryContainer {
        background-image:url("img/backgroundEntrada.jpg");
        background-position: 0% 0%;
        background-repeat: repeat-y;
        background-attachment: scroll;
        background-size: auto;
        width: 100%;
        min-width: 0px;
    }

    #text {
        margin-left: auto;
        float: none;
        clear: none;
        margin-right: auto;
    }

    #text1 {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
    }

    #tw {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
    }
}

@media only screen and (max-width: 640px) {
    #contenedor {
        margin-top: 102px;
        margin-left: auto;
        clear: none;
        float: none;
        width: 384.046875px;
        height: 658px;
        margin-right: auto;
    }

    #footerbox {
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-top: 0px;
        clear: none;
        width: 32.089844%;
        height: 101px;
    }

    .primaryContainer {
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 100%;
        min-width: 0px;
        background-image:url("img/backgroundEntrada.jpg");
        background-position: 0% 0%;
        background-repeat: repeat-y;
        background-attachment: scroll;
        background-size: auto;
        clear: none;
    }

    #avion {
        background-image:url("img/plane.jpg");
        background-position: 40.4% 0%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: 237px;
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
    }

    #text {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
    }

    #text1Box {
        margin-top: 0px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
    }

    #text2 {
        margin-top: 0px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
    }

    #Text3 {
        margin-top: 38px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
    }

    #face {
        margin-top: 9px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
    }

    #go {
        margin-top: 20px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
    }
}

@media only screen and (max-width: 480px) {
    .primaryContainer {
        width: 100%;
        min-width: 0px;
        background-image:url("img/backgroundEntrada.jpg");
        background-position: 0% 0%;
        background-repeat: repeat-y;
        background-attachment: scroll;
        background-size: auto;
    }

    #contenedor {
        margin-top: 102px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
    }

    #footerbox {
        margin-top: 0px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
    }

    #avion {
        background-image:url("img/plane.jpg");
        background-position: 47.8% 43.3%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: 224px;
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-top: 0px;
        clear: none;
        width: 329px;
        height: 213px;
    }

    #text1Box {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
        margin-top: 0px;
        width: 100%;
        height: 57px;
    }

    #text2 {
        margin-top: 1px;
        margin-left: auto;
        clear: none;
        width: 100%;
        height: 50px;
        margin-right: auto;
        float: none;
    }

    #Text3 {
        margin-top: 18px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
        text-align: center;
    }

    #face {
        margin-top: 19px;
        margin-left: auto;
        clear: none;
        width: 39px;
        height: 36px;
        margin-right: auto;
        float: none;
    }

    #go {
        margin-top: 12px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
        width: 107px;
        height: 120px;
    }

    #text1 {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
    }

    #tw {
        width: 39px;
        height: 36px;
        margin-top: 14px;
        clear: none;
        margin-left: 44.109874%;
        margin-right: 0px;
        float: left;
    }
}

